<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playpen+Sans&family=Sedgwick+Ave&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sedgwick+Ave&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../assets/styles/estilos.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sedgwick+Ave&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <head> </head>

    <main>
      <section class="container">
        <div class="row text-center justify-conten-center mt-5">
          <div class="col-3 fuente">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              accusantium consequatur porro placeat blanditiis tempore ipsum at,
              explicabo necessitatibus quibusdam inventore assumenda iusto optio
              illo repellat magni animi exercitationem eveniet!
            </p>
          </div>
          <div class="col-3 fuente2">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              eos placeat accusamus sequi quasi ab praesentium repudiandae
              doloremque explicabo libero, accusantium sapiente nobis veritatis.
              Cupiditate rem quasi sapiente iure assumenda?
            </p>
          </div>
          <div class="col-3 fuente3">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod
              vero ducimus exercitationem recusandae quasi laudantium? Veniam
              eligendi ducimus aspernatur. Nihil quas suscipit quidem dicta
              neque, aut incidunt provident error minus.
            </p>
          </div>
          <div class="col-3">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
              adipisci eaque, corrupti consequatur architecto dolores officiis,
              corporis necessitatibus tempora illo similique alias deleniti?
              Ducimus pariatur esse consequatur a aliquid laborum.
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer></footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
