.menufondo1{
    background-color:white;
}

.fondomenu2{

    background-color: green;
}
.fuente{
    font-family: 'Dancing Script', cursive;
    font-size: 20px; 
    color:red;
    font-weight: bolder;
    
          
   
}

.fuente2{   
    
    font-family: 'Playpen Sans', cursive;
   


}
.fuente3{  
   
font-family: 'Sedgwick Ave', cursive;

}